<!DOCTYPE html>
<html
        lagn="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
        <title>instagram</title>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <!-- 제이쿼리 -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Style -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/story.css">
        <link rel="stylesheet" href="/css/explore.css">
        <link rel="stylesheet" href="/css/profile.css">
        <link rel="stylesheet" href="/css/upload.css">
        <link rel="stylesheet" href="/css/update.css">
        <link rel="shortcut icon" href="/images/insta.svg">

        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap"
              rel="stylesheet">


</head>
<body class="overflow-auto">
<header th:replace="~{../fragments/header :: headerFragment}"></header>

<div layout:fragment="content" class="overflow-auto"></div>

<footer th:replace="~{../fragments/footer :: footerFragment}"></footer>

</body>
</html>